flows_pizero1.json
[{"id":"957aa787.9c64e8","type":"tab","label":"Alexa","disabled":false,"info":""},{"id":"ea374b70.7ba088","type":"tab","label":"BRAVIA API","disabled":false,"info":""},{"id":"7abc9db9.2af864","type":"tab","label":"PS4-WAKER","disabled":false,"info":""},{"id":"271425b4.b584fa","type":"alexa-home-conf","z":"","username":"amaEcho"},{"id":"b5190c15.9f4f6","type":"change","z":"ea374b70.7ba088","name":"volume down(-1)","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"method\":\"setAudioVolume\",\"version\":\"1.0\",\"id\":1,\"params\":[{\"target\":\"speaker\",\"volume\":\"-1\"}]}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":160,"wires":[["2e4ce4f3.62926c"]]},{"id":"db0bac54.121b9","type":"change","z":"ea374b70.7ba088","name":"volume up(+1)","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"method\":\"setAudioVolume\",\"version\":\"1.0\",\"id\":1,\"params\":[{\"target\":\"speaker\",\"volume\":\"+1\"}]}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":120,"wires":[["2e4ce4f3.62926c"]]},{"id":"e6bcc28a.b5199","type":"debug","z":"ea374b70.7ba088","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1910,"y":500,"wires":[]},{"id":"9172caaa.535e18","type":"change","z":"ea374b70.7ba088","name":"Set APIs","rules":[{"t":"set","p":"api","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"api.guide","pt":"msg","to":"/guide","tot":"str"},{"t":"set","p":"api.appControl","pt":"msg","to":"/appControl","tot":"str"},{"t":"set","p":"api.audio","pt":"msg","to":"/audio","tot":"str"},{"t":"set","p":"api.avContent","pt":"msg","to":"/avContent","tot":"str"},{"t":"set","p":"api.encryption","pt":"msg","to":"/encryption","tot":"str"},{"t":"set","p":"api.system","pt":"msg","to":"/system","tot":"str"},{"t":"set","p":"api.videoScreen","pt":"msg","to":"/videoScreen","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":628.5714645385742,"y":427.1428565979004,"wires":[["a4b9255f.2d0ed8"]]},{"id":"37fd30f4.734ab","type":"inject","z":"ea374b70.7ba088","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":120,"wires":[["124adf5.c63f721"]]},{"id":"e409c2e8.28be8","type":"change","z":"ea374b70.7ba088","name":"Set Display IP","rules":[{"t":"set","p":"displayip","pt":"msg","to":"192.168.0.7","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":648.5714645385742,"y":387.1428565979004,"wires":[["9172caaa.535e18"]]},{"id":"2e4ce4f3.62926c","type":"function","z":"ea374b70.7ba088","name":"Set URL(Audio)","func":"msg.url = `http://${msg.displayip}/sony${msg.api.audio}`;\nreturn msg;","outputs":1,"noerr":0,"x":1440,"y":180,"wires":[["25c8d137.08d4ce"]]},{"id":"25c8d137.08d4ce","type":"http request","z":"ea374b70.7ba088","name":"POST","method":"POST","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1738.5714645385742,"y":447.1428565979004,"wires":[["e6bcc28a.b5199","65f1e037.44551"]]},{"id":"a4b9255f.2d0ed8","type":"change","z":"ea374b70.7ba088","name":"Set X-Auth-PSK","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"X-Auth-PSK\":\"1122\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":648.5714645385742,"y":467.1428565979004,"wires":[["f4cd6d99.862ff"]]},{"id":"124adf5.c63f721","type":"change","z":"ea374b70.7ba088","name":"Volume Up","rules":[{"t":"set","p":"cmdid","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":120,"wires":[["e409c2e8.28be8"]]},{"id":"f4cd6d99.862ff","type":"switch","z":"ea374b70.7ba088","name":"","property":"cmdid","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"num"},{"t":"eq","v":"7","vt":"num"},{"t":"eq","v":"8","vt":"num"},{"t":"eq","v":"9","vt":"num"},{"t":"eq","v":"10","vt":"num"},{"t":"eq","v":"11","vt":"num"},{"t":"eq","v":"12","vt":"num"},{"t":"eq","v":"13","vt":"num"},{"t":"eq","v":"14","vt":"num"},{"t":"eq","v":"15","vt":"num"},{"t":"eq","v":"16","vt":"num"},{"t":"eq","v":"17","vt":"num"},{"t":"eq","v":"18","vt":"str"},{"t":"eq","v":"19","vt":"str"},{"t":"eq","v":"20","vt":"str"},{"t":"eq","v":"21","vt":"str"},{"t":"eq","v":"22","vt":"str"},{"t":"eq","v":"23","vt":"str"},{"t":"eq","v":"24","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":25,"x":798.5714645385742,"y":427.1428565979004,"wires":[["db0bac54.121b9"],["b5190c15.9f4f6"],["917e9e7a.598b6"],["ed90629a.e0744"],["81b22e3a.5d673"],["fdbbdc02.f0815"],["9c241743.20ff08"],["d6ebd123.017dd"],["7f36bb38.1f3904"],["c9e8e3a.a0cbe2"],["8d1afc71.14ee2"],["1ad13ef2.c5be41"],["53c56d91.350694"],["9ccf1600.f4f568"],["fedc8eff.77fa9"],["3c764d97.3c3d42"],["74822b47.ac6b94"],["edabe935.ae4a58"],["57327eb5.802da"],["cc5fa252.a842c"],["509fe698.160248"],[],[],[],["9ca17290.c36a9"]]},{"id":"58c9749e.9ffb2c","type":"inject","z":"ea374b70.7ba088","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":160,"wires":[["3a3f4d42.7627d2"]]},{"id":"3a3f4d42.7627d2","type":"change","z":"ea374b70.7ba088","name":"Volume Down","rules":[{"t":"set","p":"cmdid","pt":"msg","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":160,"wires":[["e409c2e8.28be8"]]},{"id":"917e9e7a.598b6","type":"change","z":"ea374b70.7ba088","name":"Mute","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"method\":\"setAudioMute\",\"id\":601,\"params\":[{\"status\":true}],\"version\":\"1.0\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":200,"wires":[["2e4ce4f3.62926c"]]},{"id":"ed90629a.e0744","type":"change","z":"ea374b70.7ba088","name":"Unmute","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"method\":\"setAudioMute\",\"id\":601,\"params\":[{\"status\":false}],\"version\":\"1.0\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":240,"wires":[["2e4ce4f3.62926c"]]},{"id":"daa9ea73.0f6268","type":"change","z":"ea374b70.7ba088","name":"Mute","rules":[{"t":"set","p":"cmdid","pt":"msg","to":"3","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":200,"wires":[["e409c2e8.28be8"]]},{"id":"e6f0df17.139e9","type":"change","z":"ea374b70.7ba088","name":"Unmute","rules":[{"t":"set","p":"cmdid","pt":"msg","to":"4","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":240,"wires":[["e409c2e8.28be8"]]},{"id":"b010a848.599148","type":"inject","z":"ea374b70.7ba088","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":240,"wires":[["e6f0df17.139e9"]]},{"id":"9105acd2.6f04","type":"inject","z":"ea374b70.7ba088","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":200,"wires":[["daa9ea73.0f6268"]]},{"id":"c582d4f3.cacde8","type":"inject","z":"ea374b70.7ba088","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":300,"wires":[["d6d4989e.96c758"]]},{"id":"d6d4989e.96c758","type":"change","z":"ea374b70.7ba088","name":"Application List","rules":[{"t":"set","p":"cmdid","pt":"msg","to":"5","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":300,"wires":[["e409c2e8.28be8"]]},{"id":"81b22e3a.5d673","type":"change","z":"ea374b70.7ba088","name":"ApplicationList","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"method\":\"getApplicationList\",\"id\":60,\"params\":[],\"version\":\"1.0\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":300,"wires":[["c9752a8.12c93d8"]]},{"id":"c9752a8.12c93d8","type":"function","z":"ea374b70.7ba088","name":"Set URL(appControl)","func":"msg.url = `http://${msg.displayip}/sony${msg.api.appControl}`;\nreturn msg;","outputs":1,"noerr":0,"x":1460,"y":340,"wires":[["25c8d137.08d4ce"]]},{"id":"a9c37648.4f5218","type":"http request","z":"ea374b70.7ba088","name":"GET","method":"GET","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1738.5714645385742,"y":547.1428565979004,"wires":[["e6bcc28a.b5199","65f1e037.44551"]]},{"id":"fdbbdc02.f0815","type":"change","z":"ea374b70.7ba088","name":"ApplicationStatusList","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"method\":\"getApplicationStatusList\",\"id\":55,\"params\":[],\"version\":\"1.0\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":340,"wires":[["c9752a8.12c93d8"]]},{"id":"b7759136.cef6c","type":"change","z":"ea374b70.7ba088","name":"ApplicationStatusList","rules":[{"t":"set","p":"cmdid","pt":"msg","to":"6","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":340,"wires":[["e409c2e8.28be8"]]},{"id":"d10515ff.6b6d58","type":"inject","z":"ea374b70.7ba088","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":340,"wires":[["b7759136.cef6c"]]},{"id":"8f46fdf5.78d2c","type":"change","z":"ea374b70.7ba088","name":"getContentCount","rules":[{"t":"set","p":"cmdid","pt":"msg","to":"8","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":680,"wires":[["e409c2e8.28be8"]]},{"id":"c8c13bf6.1b04c8","type":"inject","z":"ea374b70.7ba088","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":680,"wires":[["8f46fdf5.78d2c"]]},{"id":"d6ebd123.017dd","type":"change","z":"ea374b70.7ba088","name":"ContentCount","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"method\":\"getContentCount\",\"id\":11,\"params\":[{\"source\":\"extInput:hdmi\"}],\"version\":\"1.0\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":680,"wires":[["7f9adf69.56ff7"]]},{"id":"c7ebf3fa.597f9","type":"change","z":"ea374b70.7ba088","name":"getContentList","rules":[{"t":"set","p":"cmdid","pt":"msg","to":"7","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":640,"wires":[["e409c2e8.28be8"]]},{"id":"de4ab175.d2e47","type":"inject","z":"ea374b70.7ba088","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":640,"wires":[["c7ebf3fa.597f9"]]},{"id":"9c241743.20ff08","type":"change","z":"ea374b70.7ba088","name":"getContentList","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"method\":\"getContentList\",\"id\":88,\"params\":[{\"stIdx\":0,\"cnt\":50,\"uri\":\"extInput:hdmi\"}],\"version\":\"1.3\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":640,"wires":[["7f9adf69.56ff7"]]},{"id":"7f9adf69.56ff7","type":"function","z":"ea374b70.7ba088","name":"Set URL(avContent)","func":"msg.url = `http://${msg.displayip}/sony${msg.api.avContent}`;\nreturn msg;","outputs":1,"noerr":0,"x":1460,"y":700,"wires":[["25c8d137.08d4ce"]]},{"id":"7f36bb38.1f3904","type":"change","z":"ea374b70.7ba088","name":"getCurrentExternalInputsStatus","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"method\":\"getCurrentExternalInputsStatus\",\"id\":105,\"params\":[],\"version\":\"1.0\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":720,"wires":[["7f9adf69.56ff7"]]},{"id":"c9e543fa.03ad9","type":"change","z":"ea374b70.7ba088","name":"getCurrentExternalInputsStatus","rules":[{"t":"set","p":"cmdid","pt":"msg","to":"9","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":720,"wires":[["e409c2e8.28be8"]]},{"id":"2d7b8fc4.7cf4","type":"inject","z":"ea374b70.7ba088","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":720,"wires":[["c9e543fa.03ad9"]]},{"id":"b2c180cb.44f06","type":"change","z":"ea374b70.7ba088","name":"getCurrentTime ","rules":[{"t":"set","p":"cmdid","pt":"msg","to":"10","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":780,"wires":[["e409c2e8.28be8"]]},{"id":"425e313d.afe08","type":"inject","z":"ea374b70.7ba088","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":780,"wires":[["b2c180cb.44f06"]]},{"id":"c9e8e3a.a0cbe2","type":"change","z":"ea374b70.7ba088","name":"getCurrentTime ","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"method\":\"getCurrentTime\",\"id\":51,\"params\":[],\"version\":\"1.0\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":780,"wires":[["9952ac12.bd5b6"]]},{"id":"9952ac12.bd5b6","type":"function","z":"ea374b70.7ba088","name":"Set URL(system)","func":"msg.url = `http://${msg.displayip}/sony${msg.api.system}`;\nreturn msg;","outputs":1,"noerr":0,"x":1458.5714645385742,"y":907.1428565979004,"wires":[["25c8d137.08d4ce"]]},{"id":"50718945.8bcb88","type":"inject","z":"ea374b70.7ba088","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":820,"wires":[["e53a2b3c.bc1268"]]},{"id":"e53a2b3c.bc1268","type":"change","z":"ea374b70.7ba088","name":"getInterfaceInformation ","rules":[{"t":"set","p":"cmdid","pt":"msg","to":"11","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":820,"wires":[["e409c2e8.28be8"]]},{"id":"8d1afc71.14ee2","type":"change","z":"ea374b70.7ba088","name":"getInterfaceInformation ","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"method\":\"getInterfaceInformation\",\"id\":33,\"params\":[],\"version\":\"1.0\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":820,"wires":[["9952ac12.bd5b6"]]},{"id":"a26b8555.195218","type":"inject","z":"ea374b70.7ba088","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":860,"wires":[["c04acd43.f84fd"]]},{"id":"c04acd43.f84fd","type":"change","z":"ea374b70.7ba088","name":"getPowerStatus ","rules":[{"t":"set","p":"cmdid","pt":"msg","to":"12","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":860,"wires":[["e409c2e8.28be8"]]},{"id":"1ad13ef2.c5be41","type":"change","z":"ea374b70.7ba088","name":"getPowerStatus","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"method\":\"getPowerStatus\",\"id\":50,\"params\":[],\"version\":\"1.0\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":860,"wires":[["9952ac12.bd5b6"]]},{"id":"3fdcf865.aee558","type":"inject","z":"ea374b70.7ba088","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":900,"wires":[["a45dbe1c.e5cb6"]]},{"id":"a45dbe1c.e5cb6","type":"change","z":"ea374b70.7ba088","name":"getWolMode ","rules":[{"t":"set","p":"cmdid","pt":"msg","to":"13","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":900,"wires":[["e409c2e8.28be8"]]},{"id":"53c56d91.350694","type":"change","z":"ea374b70.7ba088","name":"getWolMode ","rules":[{"t":"set","p":"payload","pt":"msg","to":"{     \"method\": \"getWolMode\",     \"id\": 50,     \"params\": [],     \"version\": \"1.0\" }","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1110,"y":900,"wires":[["9952ac12.bd5b6"]]},{"id":"85872a08.c7eb28","type":"change","z":"ea374b70.7ba088","name":"requestReboot ","rules":[{"t":"set","p":"cmdid","pt":"msg","to":"14","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":940,"wires":[["e409c2e8.28be8"]]},{"id":"9ccf1600.f4f568","type":"change","z":"ea374b70.7ba088","name":"requestReboot ","rules":[{"t":"set","p":"payload","pt":"msg","to":"{     \"method\": \"requestReboot\",     \"id\": 10,     \"params\": [],     \"version\": \"1.0\" }","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":940,"wires":[["9952ac12.bd5b6"]]},{"id":"770e8cdf.6a17a4","type":"inject","z":"ea374b70.7ba088","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1020,"wires":[["8044e308.493e9"]]},{"id":"8044e308.493e9","type":"change","z":"ea374b70.7ba088","name":"Power On","rules":[{"t":"set","p":"cmdid","pt":"msg","to":"16","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":1020,"wires":[["e409c2e8.28be8"]]},{"id":"3c764d97.3c3d42","type":"change","z":"ea374b70.7ba088","name":"Power On","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"method\":\"setPowerStatus\",\"id\":55,\"params\":[{\"status\":true}],\"version\":\"1.0\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":1020,"wires":[["9952ac12.bd5b6"]]},{"id":"79a3c8fc.5bac28","type":"change","z":"ea374b70.7ba088","name":"Power Off","rules":[{"t":"set","p":"cmdid","pt":"msg","to":"15","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":980,"wires":[["e409c2e8.28be8"]]},{"id":"fedc8eff.77fa9","type":"change","z":"ea374b70.7ba088","name":"Power Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"method\":\"setPowerStatus\",\"id\":55,\"params\":[{\"status\":false}],\"version\":\"1.0\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":980,"wires":[["9952ac12.bd5b6","bc5ac3b5.99d51"]]},{"id":"cc97918.602fa7","type":"inject","z":"ea374b70.7ba088","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":980,"wires":[["79a3c8fc.5bac28"]]},{"id":"1449e7fa.115bd8","type":"alexa-home","z":"957aa787.9c64e8","conf":"271425b4.b584fa","device":"102870","acknoledge":true,"name":"PlayStation4","topic":"PlayStation4","x":130,"y":60,"wires":[["ded6bae.58d1948"]]},{"id":"1a9085cd.4ccaca","type":"alexa-home","z":"957aa787.9c64e8","conf":"271425b4.b584fa","device":"102871","acknoledge":true,"name":"BRAVIA","topic":"BRAVIA","x":110,"y":280,"wires":[["d0828e11.d559e"]]},{"id":"70b0c098.58749","type":"debug","z":"957aa787.9c64e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":280,"wires":[]},{"id":"b7efefc8.9a0c8","type":"http in","z":"ea374b70.7ba088","name":"","url":"/bravia","method":"post","upload":false,"swaggerDoc":"","x":150,"y":60,"wires":[["b9728376.a8456","bfa5b167.12f92"]]},{"id":"65f1e037.44551","type":"http response","z":"ea374b70.7ba088","name":"","statusCode":"","headers":{},"x":1910,"y":460,"wires":[]},{"id":"38fe51fb.df4cee","type":"http request","z":"957aa787.9c64e8","name":"","method":"POST","ret":"txt","paytoqs":true,"url":"http://192.168.0.24:1880/bravia","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":280,"wires":[["70b0c098.58749"]]},{"id":"b9728376.a8456","type":"change","z":"ea374b70.7ba088","name":"Set Param","rules":[{"t":"set","p":"cmdid","pt":"msg","to":"payload.cmdid","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":60,"wires":[["e409c2e8.28be8"]]},{"id":"b5f6ddd2.b5ddb","type":"inject","z":"ea374b70.7ba088","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":940,"wires":[["85872a08.c7eb28"]]},{"id":"d0828e11.d559e","type":"change","z":"957aa787.9c64e8","name":"Set cmdid","rules":[{"t":"set","p":"param","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"param.cmdid","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"param","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":280,"wires":[["38fe51fb.df4cee","e2f58306.062c6"]]},{"id":"e2f58306.062c6","type":"debug","z":"957aa787.9c64e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":480,"y":360,"wires":[]},{"id":"bfa5b167.12f92","type":"debug","z":"ea374b70.7ba088","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":620,"y":60,"wires":[]},{"id":"42cc5103.2a40d","type":"inject","z":"ea374b70.7ba088","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":380,"wires":[["9853d917.73fda8"]]},{"id":"9853d917.73fda8","type":"change","z":"ea374b70.7ba088","name":"setActiveApp (AmazonVideo)","rules":[{"t":"set","p":"cmdid","pt":"msg","to":"17","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":380,"wires":[["e409c2e8.28be8"]]},{"id":"74822b47.ac6b94","type":"change","z":"ea374b70.7ba088","name":"setActiveApp (AmazonVideo)","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"method\":\"setActiveApp\",\"id\":601,\"params\":[{\"uri\":\"kamaji://BIV-5514\"}],\"version\":\"1.0\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":380,"wires":[["c9752a8.12c93d8"]]},{"id":"aa0b9522.46e6d8","type":"inject","z":"ea374b70.7ba088","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":420,"wires":[["dd6dbcb1.0ff3f"]]},{"id":"dd6dbcb1.0ff3f","type":"change","z":"ea374b70.7ba088","name":"setActiveApp (YouTube)","rules":[{"t":"set","p":"cmdid","pt":"msg","to":"18","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":420,"wires":[["e409c2e8.28be8"]]},{"id":"edabe935.ae4a58","type":"change","z":"ea374b70.7ba088","name":"setActiveApp (YouTube)","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"method\":\"setActiveApp\",\"id\":601,\"params\":[{\"uri\":\"kamaji://BIV-3607\"}],\"version\":\"1.0\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":420,"wires":[["c9752a8.12c93d8"]]},{"id":"57327eb5.802da","type":"change","z":"ea374b70.7ba088","name":"setActiveApp (Netflix)","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"method\":\"setActiveApp\",\"id\":601,\"params\":[{\"uri\":\"kamaji://BIV-2747\"}],\"version\":\"1.0\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":460,"wires":[["c9752a8.12c93d8"]]},{"id":"74aec34d.e2bd2c","type":"inject","z":"ea374b70.7ba088","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":460,"wires":[["abb5bb10.a678b8"]]},{"id":"abb5bb10.a678b8","type":"change","z":"ea374b70.7ba088","name":"setActiveApp (Netflix)","rules":[{"t":"set","p":"cmdid","pt":"msg","to":"19","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":460,"wires":[["e409c2e8.28be8"]]},{"id":"6b9f4ab3.6ea864","type":"inject","z":"ea374b70.7ba088","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":500,"wires":[["8efacb48.606a68"]]},{"id":"8efacb48.606a68","type":"change","z":"ea374b70.7ba088","name":"setActiveApp (Hulu)","rules":[{"t":"set","p":"cmdid","pt":"msg","to":"20","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":500,"wires":[["e409c2e8.28be8"]]},{"id":"cc5fa252.a842c","type":"change","z":"ea374b70.7ba088","name":"setActiveApp (Hulu)","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"method\":\"setActiveApp\",\"id\":601,\"params\":[{\"uri\":\"kamaji://BIV-6096\"}],\"version\":\"1.0\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":500,"wires":[["c9752a8.12c93d8"]]},{"id":"9ca17290.c36a9","type":"debug","z":"ea374b70.7ba088","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":800,"y":780,"wires":[]},{"id":"5dbd4ad7.469194","type":"inject","z":"ea374b70.7ba088","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":540,"wires":[["4691f0df.61452"]]},{"id":"4691f0df.61452","type":"change","z":"ea374b70.7ba088","name":"terminateApps ","rules":[{"t":"set","p":"cmdid","pt":"msg","to":"21","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":540,"wires":[["e409c2e8.28be8"]]},{"id":"509fe698.160248","type":"change","z":"ea374b70.7ba088","name":"terminateApps","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"method\":\"terminateApps\",\"id\":55,\"params\":[],\"version\":\"1.0\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":540,"wires":[["c9752a8.12c93d8"]]},{"id":"9f18548e.fbdf78","type":"exec","z":"7abc9db9.2af864","command":"sudo ps4-waker","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1060,"y":480,"wires":[["a2cf0494.472828","9c08e023.781c7"],["a2cf0494.472828","1da926c3.3fad79"],[]]},{"id":"15ffe2a0.98a5cd","type":"inject","z":"7abc9db9.2af864","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":480,"wires":[["66c87e1.dd7568"]]},{"id":"66c87e1.dd7568","type":"change","z":"7abc9db9.2af864","name":"Start","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":480,"wires":[["9f18548e.fbdf78"]]},{"id":"a2cf0494.472828","type":"debug","z":"7abc9db9.2af864","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1270,"y":460,"wires":[]},{"id":"adda61c2.be5ce","type":"change","z":"7abc9db9.2af864","name":"Standby","rules":[{"t":"set","p":"payload","pt":"msg","to":"standby","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":520,"wires":[["9f18548e.fbdf78"]]},{"id":"475ddc02.227d64","type":"change","z":"7abc9db9.2af864","name":"PrimeVideo","rules":[{"t":"set","p":"payload","pt":"msg","to":"start CUSA03099","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":560,"wires":[["9f18548e.fbdf78"]]},{"id":"5f1a9d90.fe9cf4","type":"inject","z":"7abc9db9.2af864","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":520,"wires":[["adda61c2.be5ce"]]},{"id":"d11a12db.22b05","type":"inject","z":"7abc9db9.2af864","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":560,"wires":[["475ddc02.227d64"]]},{"id":"875a9710.ba62c8","type":"change","z":"7abc9db9.2af864","name":"YouTube","rules":[{"t":"set","p":"payload","pt":"msg","to":"start CUSA01065","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":600,"wires":[["9f18548e.fbdf78"]]},{"id":"b1f513c4.d56b7","type":"inject","z":"7abc9db9.2af864","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":600,"wires":[["875a9710.ba62c8"]]},{"id":"5896c01b.b1b38","type":"inject","z":"7abc9db9.2af864","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":640,"wires":[["7351b6c9.09ead8"]]},{"id":"7351b6c9.09ead8","type":"change","z":"7abc9db9.2af864","name":"Hulu","rules":[{"t":"set","p":"payload","pt":"msg","to":"start CUSA00399","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":640,"wires":[["9f18548e.fbdf78"]]},{"id":"3f2bd488.77a73c","type":"inject","z":"7abc9db9.2af864","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":680,"wires":[["6a4f5389.5008dc"]]},{"id":"6a4f5389.5008dc","type":"change","z":"7abc9db9.2af864","name":"Netflix","rules":[{"t":"set","p":"payload","pt":"msg","to":"start CUSA02988","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":680,"wires":[["9f18548e.fbdf78"]]},{"id":"8de6e01e.8f9fe","type":"switch","z":"7abc9db9.2af864","name":"switch(0~1)","property":"cmdid","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":450,"y":140,"wires":[["1dd1bf3.9000b41","66c87e1.dd7568"],["adda61c2.be5ce"],["3131c092.994ef"]]},{"id":"92032c36.e780b","type":"http in","z":"7abc9db9.2af864","name":"","url":"/ps4waker","method":"get","upload":false,"swaggerDoc":"","x":120,"y":140,"wires":[["1b1f446e.f977dc"]]},{"id":"b016bc4a.07f47","type":"http request","z":"7abc9db9.2af864","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"http://192.168.0.24:1880/bravia","tls":"","persist":false,"proxy":"","authType":"","x":790,"y":140,"wires":[["7fce52de.62c80c"]]},{"id":"1dd1bf3.9000b41","type":"change","z":"7abc9db9.2af864","name":"Set Param","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"cmdid\":12}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":140,"wires":[["b016bc4a.07f47"]]},{"id":"7fce52de.62c80c","type":"switch","z":"7abc9db9.2af864","name":"","property":"payload.result[0].status","propertyType":"msg","rules":[{"t":"eq","v":"standby","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":140,"wires":[["228fe7f7.5a18b8"],["e0d04755.1b41e8"]]},{"id":"228fe7f7.5a18b8","type":"change","z":"7abc9db9.2af864","name":"Set Param","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"cmdid\":16}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":140,"wires":[["cb18fb3e.d48ad8"]]},{"id":"cb18fb3e.d48ad8","type":"http request","z":"7abc9db9.2af864","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"http://192.168.0.24:1880/bravia","tls":"","persist":false,"proxy":"","authType":"","x":1250,"y":140,"wires":[["4ff76e4d.fd088"]]},{"id":"bac7abc.33a3158","type":"debug","z":"957aa787.9c64e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":60,"wires":[]},{"id":"d0f2230f.497db","type":"http request","z":"957aa787.9c64e8","name":"","method":"GET","ret":"txt","paytoqs":true,"url":"http://192.168.0.24:1880/ps4waker","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":60,"wires":[["bac7abc.33a3158"]]},{"id":"ded6bae.58d1948","type":"change","z":"957aa787.9c64e8","name":"Set cmdid","rules":[{"t":"set","p":"param","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"param.cmdid","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"param","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":60,"wires":[["d0f2230f.497db","95372890.bae648"]]},{"id":"95372890.bae648","type":"debug","z":"957aa787.9c64e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":480,"y":140,"wires":[]},{"id":"e0d04755.1b41e8","type":"debug","z":"7abc9db9.2af864","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":180,"wires":[]},{"id":"2ca1a4e5.5db30c","type":"http response","z":"7abc9db9.2af864","name":"","statusCode":"","headers":{},"x":1490,"y":520,"wires":[]},{"id":"9c08e023.781c7","type":"change","z":"7abc9db9.2af864","name":"Set Resopnse(200)","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"status\":\"Success\"}","tot":"json"},{"t":"set","p":"headers","pt":"msg","to":"{\"content-type\":\"application/json\"}","tot":"json"},{"t":"set","p":"statusCode","pt":"msg","to":"200","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1290,"y":500,"wires":[["2ca1a4e5.5db30c"]]},{"id":"1da926c3.3fad79","type":"change","z":"7abc9db9.2af864","name":"Set Resopnse(500)","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"status\":\"Success\"}","tot":"json"},{"t":"set","p":"headers","pt":"msg","to":"{\"content-type\":\"application/json\"}","tot":"json"},{"t":"set","p":"statusCode","pt":"msg","to":"500","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1290,"y":540,"wires":[["2ca1a4e5.5db30c"]]},{"id":"bc699033.92e77","type":"inject","z":"7abc9db9.2af864","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":720,"wires":[["51f3070.ea26ef8"]]},{"id":"51f3070.ea26ef8","type":"change","z":"7abc9db9.2af864","name":"torne(トルネ)","rules":[{"t":"set","p":"payload","pt":"msg","to":"start CUSA00442","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":720,"wires":[["9f18548e.fbdf78"]]},{"id":"a672f858.54b288","type":"inject","z":"7abc9db9.2af864","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":260,"wires":[["3131c092.994ef"]]},{"id":"3131c092.994ef","type":"exec","z":"7abc9db9.2af864","command":"sudo ps4-waker check","addpay":false,"append":"check","useSpawn":"false","timer":"","oldrc":false,"name":"","x":420,"y":280,"wires":[["e8a74329.c0c5"],[],[]]},{"id":"e4b61595.7dcc08","type":"switch","z":"7abc9db9.2af864","name":"","property":"payload.status","propertyType":"msg","rules":[{"t":"eq","v":"Standby","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":280,"wires":[["c7787cc5.2e755","ea3a4660.ddaec8"],["5fd775d.4f2f68c","e9916f3c.fcfaa"]],"outputLabels":["Standby","etc"]},{"id":"d965cb3f.e40df8","type":"comment","z":"7abc9db9.2af864","name":"PS4が消えてたらつける","info":"","x":410,"y":240,"wires":[]},{"id":"e8a74329.c0c5","type":"json","z":"7abc9db9.2af864","name":"","property":"payload","action":"obj","pretty":false,"x":630,"y":240,"wires":[["e4b61595.7dcc08"]]},{"id":"c2ab7eef.229fa","type":"comment","z":"7abc9db9.2af864","name":"TVが消えてたらつける","info":"","x":660,"y":100,"wires":[]},{"id":"4ff76e4d.fd088","type":"http response","z":"7abc9db9.2af864","name":"","statusCode":"","headers":{},"x":1390,"y":140,"wires":[]},{"id":"c7787cc5.2e755","type":"exec","z":"7abc9db9.2af864","command":"sudo ps4-waker","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"sudo ps4-waker(起動)","x":860,"y":260,"wires":[["5b7a0faa.742be"],[],[]]},{"id":"5fd775d.4f2f68c","type":"switch","z":"7abc9db9.2af864","name":"switch(2~)","property":"cmdid","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"},{"t":"eq","v":"6","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":6,"x":450,"y":400,"wires":[["475ddc02.227d64"],["875a9710.ba62c8"],["7351b6c9.09ead8"],["6a4f5389.5008dc"],["51f3070.ea26ef8"],[]]},{"id":"1569f5db.35197a","type":"delay","z":"7abc9db9.2af864","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1320,"y":340,"wires":[["5b7a0faa.742be"]]},{"id":"5b7a0faa.742be","type":"exec","z":"7abc9db9.2af864","command":"sudo ps4-waker check","addpay":false,"append":"check","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1120,"y":260,"wires":[["f74d37bb.f2af98"],[],[]]},{"id":"da75da30.722f58","type":"switch","z":"7abc9db9.2af864","name":"","property":"payload.status","propertyType":"msg","rules":[{"t":"eq","v":"Ok","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1450,"y":240,"wires":[["5fd775d.4f2f68c"],["1569f5db.35197a"]]},{"id":"362d48a6.6d8a48","type":"debug","z":"7abc9db9.2af864","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1570,"y":360,"wires":[]},{"id":"f74d37bb.f2af98","type":"json","z":"7abc9db9.2af864","name":"","property":"payload","action":"obj","pretty":false,"x":1310,"y":240,"wires":[["da75da30.722f58","362d48a6.6d8a48"]]},{"id":"ea3a4660.ddaec8","type":"debug","z":"7abc9db9.2af864","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":360,"wires":[]},{"id":"e9916f3c.fcfaa","type":"debug","z":"7abc9db9.2af864","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":830,"y":400,"wires":[]},{"id":"1b1f446e.f977dc","type":"change","z":"7abc9db9.2af864","name":"Set Param","rules":[{"t":"set","p":"cmdid","pt":"msg","to":"payload.cmdid","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":140,"wires":[["8de6e01e.8f9fe","295ef5cc.621e8a"]]},{"id":"295ef5cc.621e8a","type":"debug","z":"7abc9db9.2af864","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":310,"y":80,"wires":[]},{"id":"f76671b4.d4b15","type":"http request","z":"ea374b70.7ba088","name":"","method":"GET","ret":"txt","paytoqs":true,"url":"http://192.168.0.24:1880/ps4waker","tls":"","persist":false,"proxy":"","authType":"","x":1470,"y":1100,"wires":[["71d12780.890628"]]},{"id":"bc5ac3b5.99d51","type":"change","z":"ea374b70.7ba088","name":"Set Param","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"cmdid\":1}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1290,"y":1100,"wires":[["f76671b4.d4b15"]]},{"id":"71d12780.890628","type":"http response","z":"ea374b70.7ba088","name":"","statusCode":"","headers":{},"x":1630,"y":1100,"wires":[]}]