flows_pizero1.json
[
    {
        "id": "957aa787.9c64e8",
        "type": "tab",
        "label": "Alexa",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ea374b70.7ba088",
        "type": "tab",
        "label": "BRAVIA API",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7abc9db9.2af864",
        "type": "tab",
        "label": "PS4-WAKER",
        "disabled": false,
        "info": ""
    },
    {
        "id": "271425b4.b584fa",
        "type": "alexa-home-conf",
        "username": "amaEcho"
    },
    {
        "id": "318272e.dcf2b8e",
        "type": "alexa-remote-account",
        "name": "",
        "authMethod": "password",
        "proxyOwnIp": "192.168.0.24",
        "proxyPort": "3456",
        "cookieFile": "",
        "refreshInterval": "3",
        "alexaServiceHost": "alexa.amazon.co.jp",
        "amazonPage": "amazon.co.jp",
        "acceptLanguage": "ja-JP",
        "userAgent": "",
        "useWsMqtt": "on",
        "autoInit": "on"
    },
    {
        "id": "b5190c15.9f4f6",
        "type": "change",
        "z": "ea374b70.7ba088",
        "name": "volume down(-1)",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"method\":\"setAudioVolume\",\"version\":\"1.0\",\"id\":1,\"params\":[{\"target\":\"speaker\",\"volume\":\"-1\"}]}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1130,
        "y": 160,
        "wires": [
            [
                "2e4ce4f3.62926c"
            ]
        ]
    },
    {
        "id": "db0bac54.121b9",
        "type": "change",
        "z": "ea374b70.7ba088",
        "name": "volume up(+1)",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"method\":\"setAudioVolume\",\"version\":\"1.0\",\"id\":1,\"params\":[{\"target\":\"speaker\",\"volume\":\"+1\"}]}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 120,
        "wires": [
            [
                "2e4ce4f3.62926c"
            ]
        ]
    },
    {
        "id": "e6bcc28a.b5199",
        "type": "debug",
        "z": "ea374b70.7ba088",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1910,
        "y": 500,
        "wires": []
    },
    {
        "id": "9172caaa.535e18",
        "type": "change",
        "z": "ea374b70.7ba088",
        "name": "Set APIs",
        "rules": [
            {
                "t": "set",
                "p": "api",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "api.guide",
                "pt": "msg",
                "to": "/guide",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "api.appControl",
                "pt": "msg",
                "to": "/appControl",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "api.audio",
                "pt": "msg",
                "to": "/audio",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "api.avContent",
                "pt": "msg",
                "to": "/avContent",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "api.encryption",
                "pt": "msg",
                "to": "/encryption",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "api.system",
                "pt": "msg",
                "to": "/system",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "api.videoScreen",
                "pt": "msg",
                "to": "/videoScreen",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 628.5714645385742,
        "y": 427.1428565979004,
        "wires": [
            [
                "a4b9255f.2d0ed8"
            ]
        ]
    },
    {
        "id": "37fd30f4.734ab",
        "type": "inject",
        "z": "ea374b70.7ba088",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 120,
        "wires": [
            [
                "124adf5.c63f721"
            ]
        ]
    },
    {
        "id": "e409c2e8.28be8",
        "type": "change",
        "z": "ea374b70.7ba088",
        "name": "Set Display IP",
        "rules": [
            {
                "t": "set",
                "p": "displayip",
                "pt": "msg",
                "to": "192.168.0.7",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 648.5714645385742,
        "y": 387.1428565979004,
        "wires": [
            [
                "9172caaa.535e18"
            ]
        ]
    },
    {
        "id": "2e4ce4f3.62926c",
        "type": "function",
        "z": "ea374b70.7ba088",
        "name": "Set URL(Audio)",
        "func": "msg.url = `http://${msg.displayip}/sony${msg.api.audio}`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1440,
        "y": 180,
        "wires": [
            [
                "25c8d137.08d4ce"
            ]
        ]
    },
    {
        "id": "25c8d137.08d4ce",
        "type": "http request",
        "z": "ea374b70.7ba088",
        "name": "POST",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1738.5714645385742,
        "y": 447.1428565979004,
        "wires": [
            [
                "e6bcc28a.b5199",
                "65f1e037.44551"
            ]
        ]
    },
    {
        "id": "a4b9255f.2d0ed8",
        "type": "change",
        "z": "ea374b70.7ba088",
        "name": "Set X-Auth-PSK",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\"X-Auth-PSK\":\"1122\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 648.5714645385742,
        "y": 467.1428565979004,
        "wires": [
            [
                "f4cd6d99.862ff"
            ]
        ]
    },
    {
        "id": "124adf5.c63f721",
        "type": "change",
        "z": "ea374b70.7ba088",
        "name": "Volume Up",
        "rules": [
            {
                "t": "set",
                "p": "cmdid",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 120,
        "wires": [
            [
                "e409c2e8.28be8"
            ]
        ]
    },
    {
        "id": "f4cd6d99.862ff",
        "type": "switch",
        "z": "ea374b70.7ba088",
        "name": "",
        "property": "cmdid",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "7",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "8",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "9",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "10",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "11",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "12",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "13",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "14",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "15",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "16",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "17",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "18",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "19",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "20",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "21",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "22",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "23",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "24",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 25,
        "x": 798.5714645385742,
        "y": 427.1428565979004,
        "wires": [
            [
                "db0bac54.121b9"
            ],
            [
                "b5190c15.9f4f6"
            ],
            [
                "917e9e7a.598b6"
            ],
            [
                "ed90629a.e0744"
            ],
            [
                "81b22e3a.5d673"
            ],
            [
                "fdbbdc02.f0815"
            ],
            [
                "9c241743.20ff08"
            ],
            [
                "d6ebd123.017dd"
            ],
            [
                "7f36bb38.1f3904"
            ],
            [
                "c9e8e3a.a0cbe2"
            ],
            [
                "8d1afc71.14ee2"
            ],
            [
                "1ad13ef2.c5be41"
            ],
            [
                "53c56d91.350694"
            ],
            [
                "9ccf1600.f4f568"
            ],
            [
                "fedc8eff.77fa9"
            ],
            [
                "3c764d97.3c3d42"
            ],
            [
                "74822b47.ac6b94"
            ],
            [
                "edabe935.ae4a58"
            ],
            [
                "57327eb5.802da"
            ],
            [
                "cc5fa252.a842c"
            ],
            [
                "509fe698.160248"
            ],
            [
                "832d6517.5d1398"
            ],
            [
                "80735c47.a0c56"
            ],
            [],
            [
                "9ca17290.c36a9"
            ]
        ]
    },
    {
        "id": "58c9749e.9ffb2c",
        "type": "inject",
        "z": "ea374b70.7ba088",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 160,
        "wires": [
            [
                "3a3f4d42.7627d2"
            ]
        ]
    },
    {
        "id": "3a3f4d42.7627d2",
        "type": "change",
        "z": "ea374b70.7ba088",
        "name": "Volume Down",
        "rules": [
            {
                "t": "set",
                "p": "cmdid",
                "pt": "msg",
                "to": "2",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 160,
        "wires": [
            [
                "e409c2e8.28be8"
            ]
        ]
    },
    {
        "id": "917e9e7a.598b6",
        "type": "change",
        "z": "ea374b70.7ba088",
        "name": "Mute",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"method\":\"setAudioMute\",\"id\":601,\"params\":[{\"status\":true}],\"version\":\"1.0\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1090,
        "y": 200,
        "wires": [
            [
                "2e4ce4f3.62926c"
            ]
        ]
    },
    {
        "id": "ed90629a.e0744",
        "type": "change",
        "z": "ea374b70.7ba088",
        "name": "Unmute",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"method\":\"setAudioMute\",\"id\":601,\"params\":[{\"status\":false}],\"version\":\"1.0\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 240,
        "wires": [
            [
                "2e4ce4f3.62926c"
            ]
        ]
    },
    {
        "id": "daa9ea73.0f6268",
        "type": "change",
        "z": "ea374b70.7ba088",
        "name": "Mute",
        "rules": [
            {
                "t": "set",
                "p": "cmdid",
                "pt": "msg",
                "to": "3",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 200,
        "wires": [
            [
                "e409c2e8.28be8"
            ]
        ]
    },
    {
        "id": "e6f0df17.139e9",
        "type": "change",
        "z": "ea374b70.7ba088",
        "name": "Unmute",
        "rules": [
            {
                "t": "set",
                "p": "cmdid",
                "pt": "msg",
                "to": "4",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 240,
        "wires": [
            [
                "e409c2e8.28be8"
            ]
        ]
    },
    {
        "id": "b010a848.599148",
        "type": "inject",
        "z": "ea374b70.7ba088",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 240,
        "wires": [
            [
                "e6f0df17.139e9"
            ]
        ]
    },
    {
        "id": "9105acd2.6f04",
        "type": "inject",
        "z": "ea374b70.7ba088",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "daa9ea73.0f6268"
            ]
        ]
    },
    {
        "id": "c582d4f3.cacde8",
        "type": "inject",
        "z": "ea374b70.7ba088",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 300,
        "wires": [
            [
                "d6d4989e.96c758"
            ]
        ]
    },
    {
        "id": "d6d4989e.96c758",
        "type": "change",
        "z": "ea374b70.7ba088",
        "name": "Application List",
        "rules": [
            {
                "t": "set",
                "p": "cmdid",
                "pt": "msg",
                "to": "5",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 300,
        "wires": [
            [
                "e409c2e8.28be8"
            ]
        ]
    },
    {
        "id": "81b22e3a.5d673",
        "type": "change",
        "z": "ea374b70.7ba088",
        "name": "ApplicationList",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"method\":\"getApplicationList\",\"id\":60,\"params\":[],\"version\":\"1.0\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 300,
        "wires": [
            [
                "c9752a8.12c93d8"
            ]
        ]
    },
    {
        "id": "c9752a8.12c93d8",
        "type": "function",
        "z": "ea374b70.7ba088",
        "name": "Set URL(appControl)",
        "func": "msg.url = `http://${msg.displayip}/sony${msg.api.appControl}`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1460,
        "y": 340,
        "wires": [
            [
                "25c8d137.08d4ce"
            ]
        ]
    },
    {
        "id": "a9c37648.4f5218",
        "type": "http request",
        "z": "ea374b70.7ba088",
        "name": "GET",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1738.5714645385742,
        "y": 547.1428565979004,
        "wires": [
            [
                "e6bcc28a.b5199",
                "65f1e037.44551"
            ]
        ]
    },
    {
        "id": "fdbbdc02.f0815",
        "type": "change",
        "z": "ea374b70.7ba088",
        "name": "ApplicationStatusList",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"method\":\"getApplicationStatusList\",\"id\":55,\"params\":[],\"version\":\"1.0\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 340,
        "wires": [
            [
                "c9752a8.12c93d8"
            ]
        ]
    },
    {
        "id": "b7759136.cef6c",
        "type": "change",
        "z": "ea374b70.7ba088",
        "name": "ApplicationStatusList",
        "rules": [
            {
                "t": "set",
                "p": "cmdid",
                "pt": "msg",
                "to": "6",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 340,
        "wires": [
            [
                "e409c2e8.28be8"
            ]
        ]
    },
    {
        "id": "d10515ff.6b6d58",
        "type": "inject",
        "z": "ea374b70.7ba088",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 340,
        "wires": [
            [
                "b7759136.cef6c"
            ]
        ]
    },
    {
        "id": "8f46fdf5.78d2c",
        "type": "change",
        "z": "ea374b70.7ba088",
        "name": "getContentCount",
        "rules": [
            {
                "t": "set",
                "p": "cmdid",
                "pt": "msg",
                "to": "8",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 680,
        "wires": [
            [
                "e409c2e8.28be8"
            ]
        ]
    },
    {
        "id": "c8c13bf6.1b04c8",
        "type": "inject",
        "z": "ea374b70.7ba088",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 680,
        "wires": [
            [
                "8f46fdf5.78d2c"
            ]
        ]
    },
    {
        "id": "d6ebd123.017dd",
        "type": "change",
        "z": "ea374b70.7ba088",
        "name": "ContentCount",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"method\":\"getContentCount\",\"id\":11,\"params\":[{\"source\":\"extInput:hdmi\"}],\"version\":\"1.0\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 680,
        "wires": [
            [
                "7f9adf69.56ff7"
            ]
        ]
    },
    {
        "id": "c7ebf3fa.597f9",
        "type": "change",
        "z": "ea374b70.7ba088",
        "name": "getContentList",
        "rules": [
            {
                "t": "set",
                "p": "cmdid",
                "pt": "msg",
                "to": "7",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 640,
        "wires": [
            [
                "e409c2e8.28be8"
            ]
        ]
    },
    {
        "id": "de4ab175.d2e47",
        "type": "inject",
        "z": "ea374b70.7ba088",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 640,
        "wires": [
            [
                "c7ebf3fa.597f9"
            ]
        ]
    },
    {
        "id": "9c241743.20ff08",
        "type": "change",
        "z": "ea374b70.7ba088",
        "name": "getContentList",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"method\":\"getContentList\",\"id\":88,\"params\":[{\"stIdx\":0,\"cnt\":50,\"uri\":\"*:*\"}],\"version\":\"1.3\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 640,
        "wires": [
            [
                "7f9adf69.56ff7"
            ]
        ]
    },
    {
        "id": "7f9adf69.56ff7",
        "type": "function",
        "z": "ea374b70.7ba088",
        "name": "Set URL(avContent)",
        "func": "msg.url = `http://${msg.displayip}/sony${msg.api.avContent}`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1460,
        "y": 700,
        "wires": [
            [
                "25c8d137.08d4ce"
            ]
        ]
    },
    {
        "id": "7f36bb38.1f3904",
        "type": "change",
        "z": "ea374b70.7ba088",
        "name": "getCurrentExternalInputsStatus",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"method\":\"getCurrentExternalInputsStatus\",\"id\":105,\"params\":[],\"version\":\"1.0\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1170,
        "y": 720,
        "wires": [
            [
                "7f9adf69.56ff7"
            ]
        ]
    },
    {
        "id": "c9e543fa.03ad9",
        "type": "change",
        "z": "ea374b70.7ba088",
        "name": "getCurrentExternalInputsStatus",
        "rules": [
            {
                "t": "set",
                "p": "cmdid",
                "pt": "msg",
                "to": "9",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 720,
        "wires": [
            [
                "e409c2e8.28be8"
            ]
        ]
    },
    {
        "id": "2d7b8fc4.7cf4",
        "type": "inject",
        "z": "ea374b70.7ba088",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 720,
        "wires": [
            [
                "c9e543fa.03ad9"
            ]
        ]
    },
    {
        "id": "b2c180cb.44f06",
        "type": "change",
        "z": "ea374b70.7ba088",
        "name": "getCurrentTime ",
        "rules": [
            {
                "t": "set",
                "p": "cmdid",
                "pt": "msg",
                "to": "10",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 880,
        "wires": [
            [
                "e409c2e8.28be8"
            ]
        ]
    },
    {
        "id": "425e313d.afe08",
        "type": "inject",
        "z": "ea374b70.7ba088",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 880,
        "wires": [
            [
                "b2c180cb.44f06"
            ]
        ]
    },
    {
        "id": "c9e8e3a.a0cbe2",
        "type": "change",
        "z": "ea374b70.7ba088",
        "name": "getCurrentTime ",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"method\":\"getCurrentTime\",\"id\":51,\"params\":[],\"version\":\"1.0\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 880,
        "wires": [
            [
                "9952ac12.bd5b6"
            ]
        ]
    },
    {
        "id": "9952ac12.bd5b6",
        "type": "function",
        "z": "ea374b70.7ba088",
        "name": "Set URL(system)",
        "func": "msg.url = `http://${msg.displayip}/sony${msg.api.system}`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1458.5714645385742,
        "y": 1007.1428565979004,
        "wires": [
            [
                "25c8d137.08d4ce"
            ]
        ]
    },
    {
        "id": "50718945.8bcb88",
        "type": "inject",
        "z": "ea374b70.7ba088",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 920,
        "wires": [
            [
                "e53a2b3c.bc1268"
            ]
        ]
    },
    {
        "id": "e53a2b3c.bc1268",
        "type": "change",
        "z": "ea374b70.7ba088",
        "name": "getInterfaceInformation ",
        "rules": [
            {
                "t": "set",
                "p": "cmdid",
                "pt": "msg",
                "to": "11",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 920,
        "wires": [
            [
                "e409c2e8.28be8"
            ]
        ]
    },
    {
        "id": "8d1afc71.14ee2",
        "type": "change",
        "z": "ea374b70.7ba088",
        "name": "getInterfaceInformation ",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"method\":\"getInterfaceInformation\",\"id\":33,\"params\":[],\"version\":\"1.0\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1150,
        "y": 920,
        "wires": [
            [
                "9952ac12.bd5b6"
            ]
        ]
    },
    {
        "id": "a26b8555.195218",
        "type": "inject",
        "z": "ea374b70.7ba088",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 960,
        "wires": [
            [
                "c04acd43.f84fd"
            ]
        ]
    },
    {
        "id": "c04acd43.f84fd",
        "type": "change",
        "z": "ea374b70.7ba088",
        "name": "getPowerStatus ",
        "rules": [
            {
                "t": "set",
                "p": "cmdid",
                "pt": "msg",
                "to": "12",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 960,
        "wires": [
            [
                "e409c2e8.28be8"
            ]
        ]
    },
    {
        "id": "1ad13ef2.c5be41",
        "type": "change",
        "z": "ea374b70.7ba088",
        "name": "getPowerStatus",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"method\":\"getPowerStatus\",\"id\":50,\"params\":[],\"version\":\"1.0\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 960,
        "wires": [
            [
                "9952ac12.bd5b6"
            ]
        ]
    },
    {
        "id": "3fdcf865.aee558",
        "type": "inject",
        "z": "ea374b70.7ba088",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 1000,
        "wires": [
            [
                "a45dbe1c.e5cb6"
            ]
        ]
    },
    {
        "id": "a45dbe1c.e5cb6",
        "type": "change",
        "z": "ea374b70.7ba088",
        "name": "getWolMode ",
        "rules": [
            {
                "t": "set",
                "p": "cmdid",
                "pt": "msg",
                "to": "13",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 1000,
        "wires": [
            [
                "e409c2e8.28be8"
            ]
        ]
    },
    {
        "id": "53c56d91.350694",
        "type": "change",
        "z": "ea374b70.7ba088",
        "name": "getWolMode ",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{     \"method\": \"getWolMode\",     \"id\": 50,     \"params\": [],     \"version\": \"1.0\" }",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1110,
        "y": 1000,
        "wires": [
            [
                "9952ac12.bd5b6"
            ]
        ]
    },
    {
        "id": "85872a08.c7eb28",
        "type": "change",
        "z": "ea374b70.7ba088",
        "name": "requestReboot ",
        "rules": [
            {
                "t": "set",
                "p": "cmdid",
                "pt": "msg",
                "to": "14",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 1040,
        "wires": [
            [
                "e409c2e8.28be8"
            ]
        ]
    },
    {
        "id": "9ccf1600.f4f568",
        "type": "change",
        "z": "ea374b70.7ba088",
        "name": "requestReboot ",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{     \"method\": \"requestReboot\",     \"id\": 10,     \"params\": [],     \"version\": \"1.0\" }",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 1040,
        "wires": [
            [
                "9952ac12.bd5b6"
            ]
        ]
    },
    {
        "id": "770e8cdf.6a17a4",
        "type": "inject",
        "z": "ea374b70.7ba088",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 1120,
        "wires": [
            [
                "8044e308.493e9"
            ]
        ]
    },
    {
        "id": "8044e308.493e9",
        "type": "change",
        "z": "ea374b70.7ba088",
        "name": "Power On",
        "rules": [
            {
                "t": "set",
                "p": "cmdid",
                "pt": "msg",
                "to": "16",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 1120,
        "wires": [
            [
                "e409c2e8.28be8"
            ]
        ]
    },
    {
        "id": "3c764d97.3c3d42",
        "type": "change",
        "z": "ea374b70.7ba088",
        "name": "Power On",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"method\":\"setPowerStatus\",\"id\":55,\"params\":[{\"status\":true}],\"version\":\"1.0\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 1120,
        "wires": [
            [
                "9952ac12.bd5b6"
            ]
        ]
    },
    {
        "id": "79a3c8fc.5bac28",
        "type": "change",
        "z": "ea374b70.7ba088",
        "name": "Power Off",
        "rules": [
            {
                "t": "set",
                "p": "cmdid",
                "pt": "msg",
                "to": "15",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 1080,
        "wires": [
            [
                "e409c2e8.28be8"
            ]
        ]
    },
    {
        "id": "fedc8eff.77fa9",
        "type": "change",
        "z": "ea374b70.7ba088",
        "name": "Power Off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"method\":\"setPowerStatus\",\"id\":55,\"params\":[{\"status\":false}],\"version\":\"1.0\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 1080,
        "wires": [
            [
                "9952ac12.bd5b6",
                "bc5ac3b5.99d51"
            ]
        ]
    },
    {
        "id": "cc97918.602fa7",
        "type": "inject",
        "z": "ea374b70.7ba088",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 1080,
        "wires": [
            [
                "79a3c8fc.5bac28"
            ]
        ]
    },
    {
        "id": "1449e7fa.115bd8",
        "type": "alexa-home",
        "z": "957aa787.9c64e8",
        "conf": "271425b4.b584fa",
        "device": "102870",
        "acknoledge": true,
        "name": "PlayStation4",
        "topic": "PlayStation4",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "ded6bae.58d1948"
            ]
        ]
    },
    {
        "id": "1a9085cd.4ccaca",
        "type": "alexa-home",
        "z": "957aa787.9c64e8",
        "conf": "271425b4.b584fa",
        "device": "102871",
        "acknoledge": true,
        "name": "BRAVIA",
        "topic": "BRAVIA",
        "x": 110,
        "y": 280,
        "wires": [
            [
                "d0828e11.d559e"
            ]
        ]
    },
    {
        "id": "70b0c098.58749",
        "type": "debug",
        "z": "957aa787.9c64e8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 670,
        "y": 280,
        "wires": []
    },
    {
        "id": "b7efefc8.9a0c8",
        "type": "http in",
        "z": "ea374b70.7ba088",
        "name": "",
        "url": "/bravia",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 60,
        "wires": [
            [
                "b9728376.a8456",
                "bfa5b167.12f92"
            ]
        ]
    },
    {
        "id": "65f1e037.44551",
        "type": "http response",
        "z": "ea374b70.7ba088",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1910,
        "y": 460,
        "wires": []
    },
    {
        "id": "38fe51fb.df4cee",
        "type": "http request",
        "z": "957aa787.9c64e8",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": true,
        "url": "http://192.168.0.24:1880/bravia",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 470,
        "y": 280,
        "wires": [
            [
                "70b0c098.58749"
            ]
        ]
    },
    {
        "id": "b9728376.a8456",
        "type": "change",
        "z": "ea374b70.7ba088",
        "name": "Set Param",
        "rules": [
            {
                "t": "set",
                "p": "cmdid",
                "pt": "msg",
                "to": "payload.cmdid",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 60,
        "wires": [
            [
                "e409c2e8.28be8"
            ]
        ]
    },
    {
        "id": "b5f6ddd2.b5ddb",
        "type": "inject",
        "z": "ea374b70.7ba088",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 1040,
        "wires": [
            [
                "85872a08.c7eb28"
            ]
        ]
    },
    {
        "id": "d0828e11.d559e",
        "type": "change",
        "z": "957aa787.9c64e8",
        "name": "Set cmdid",
        "rules": [
            {
                "t": "set",
                "p": "param",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "param.cmdid",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "param",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 280,
        "wires": [
            [
                "38fe51fb.df4cee",
                "e2f58306.062c6"
            ]
        ]
    },
    {
        "id": "e2f58306.062c6",
        "type": "debug",
        "z": "957aa787.9c64e8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 480,
        "y": 360,
        "wires": []
    },
    {
        "id": "bfa5b167.12f92",
        "type": "debug",
        "z": "ea374b70.7ba088",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 610,
        "y": 60,
        "wires": []
    },
    {
        "id": "42cc5103.2a40d",
        "type": "inject",
        "z": "ea374b70.7ba088",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 380,
        "wires": [
            [
                "9853d917.73fda8"
            ]
        ]
    },
    {
        "id": "9853d917.73fda8",
        "type": "change",
        "z": "ea374b70.7ba088",
        "name": "setActiveApp (AmazonVideo)",
        "rules": [
            {
                "t": "set",
                "p": "cmdid",
                "pt": "msg",
                "to": "17",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 380,
        "wires": [
            [
                "e409c2e8.28be8"
            ]
        ]
    },
    {
        "id": "74822b47.ac6b94",
        "type": "change",
        "z": "ea374b70.7ba088",
        "name": "setActiveApp (AmazonVideo)",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"method\":\"setActiveApp\",\"id\":601,\"params\":[{\"uri\":\"kamaji://BIV-5514\"}],\"version\":\"1.0\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1160,
        "y": 380,
        "wires": [
            [
                "c9752a8.12c93d8"
            ]
        ]
    },
    {
        "id": "aa0b9522.46e6d8",
        "type": "inject",
        "z": "ea374b70.7ba088",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 420,
        "wires": [
            [
                "dd6dbcb1.0ff3f"
            ]
        ]
    },
    {
        "id": "dd6dbcb1.0ff3f",
        "type": "change",
        "z": "ea374b70.7ba088",
        "name": "setActiveApp (YouTube)",
        "rules": [
            {
                "t": "set",
                "p": "cmdid",
                "pt": "msg",
                "to": "18",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 420,
        "wires": [
            [
                "e409c2e8.28be8"
            ]
        ]
    },
    {
        "id": "edabe935.ae4a58",
        "type": "change",
        "z": "ea374b70.7ba088",
        "name": "setActiveApp (YouTube)",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"method\":\"setActiveApp\",\"id\":601,\"params\":[{\"uri\":\"kamaji://BIV-3607\"}],\"version\":\"1.0\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1150,
        "y": 420,
        "wires": [
            [
                "c9752a8.12c93d8"
            ]
        ]
    },
    {
        "id": "57327eb5.802da",
        "type": "change",
        "z": "ea374b70.7ba088",
        "name": "setActiveApp (Netflix)",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"method\":\"setActiveApp\",\"id\":601,\"params\":[{\"uri\":\"kamaji://BIV-2747\"}],\"version\":\"1.0\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 460,
        "wires": [
            [
                "c9752a8.12c93d8"
            ]
        ]
    },
    {
        "id": "74aec34d.e2bd2c",
        "type": "inject",
        "z": "ea374b70.7ba088",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 460,
        "wires": [
            [
                "abb5bb10.a678b8"
            ]
        ]
    },
    {
        "id": "abb5bb10.a678b8",
        "type": "change",
        "z": "ea374b70.7ba088",
        "name": "setActiveApp (Netflix)",
        "rules": [
            {
                "t": "set",
                "p": "cmdid",
                "pt": "msg",
                "to": "19",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 460,
        "wires": [
            [
                "e409c2e8.28be8"
            ]
        ]
    },
    {
        "id": "6b9f4ab3.6ea864",
        "type": "inject",
        "z": "ea374b70.7ba088",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 500,
        "wires": [
            [
                "8efacb48.606a68"
            ]
        ]
    },
    {
        "id": "8efacb48.606a68",
        "type": "change",
        "z": "ea374b70.7ba088",
        "name": "setActiveApp (Hulu)",
        "rules": [
            {
                "t": "set",
                "p": "cmdid",
                "pt": "msg",
                "to": "20",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 500,
        "wires": [
            [
                "e409c2e8.28be8"
            ]
        ]
    },
    {
        "id": "cc5fa252.a842c",
        "type": "change",
        "z": "ea374b70.7ba088",
        "name": "setActiveApp (Hulu)",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"method\":\"setActiveApp\",\"id\":601,\"params\":[{\"uri\":\"kamaji://BIV-6096\"}],\"version\":\"1.0\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 500,
        "wires": [
            [
                "c9752a8.12c93d8"
            ]
        ]
    },
    {
        "id": "9ca17290.c36a9",
        "type": "debug",
        "z": "ea374b70.7ba088",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 800,
        "y": 880,
        "wires": []
    },
    {
        "id": "5dbd4ad7.469194",
        "type": "inject",
        "z": "ea374b70.7ba088",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 540,
        "wires": [
            [
                "4691f0df.61452"
            ]
        ]
    },
    {
        "id": "4691f0df.61452",
        "type": "change",
        "z": "ea374b70.7ba088",
        "name": "terminateApps ",
        "rules": [
            {
                "t": "set",
                "p": "cmdid",
                "pt": "msg",
                "to": "21",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 540,
        "wires": [
            [
                "e409c2e8.28be8"
            ]
        ]
    },
    {
        "id": "509fe698.160248",
        "type": "change",
        "z": "ea374b70.7ba088",
        "name": "terminateApps",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"method\":\"terminateApps\",\"id\":55,\"params\":[],\"version\":\"1.0\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 540,
        "wires": [
            [
                "c9752a8.12c93d8"
            ]
        ]
    },
    {
        "id": "9f18548e.fbdf78",
        "type": "exec",
        "z": "7abc9db9.2af864",
        "command": "sudo ps4-waker",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 1020,
        "y": 600,
        "wires": [
            [
                "a2cf0494.472828",
                "9c08e023.781c7",
                "fd2ac01e.a336"
            ],
            [
                "a2cf0494.472828",
                "1da926c3.3fad79"
            ],
            []
        ]
    },
    {
        "id": "15ffe2a0.98a5cd",
        "type": "inject",
        "z": "7abc9db9.2af864",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 440,
        "y": 500,
        "wires": [
            [
                "66c87e1.dd7568"
            ]
        ]
    },
    {
        "id": "66c87e1.dd7568",
        "type": "change",
        "z": "7abc9db9.2af864",
        "name": "Start",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 500,
        "wires": [
            [
                "9f18548e.fbdf78"
            ]
        ]
    },
    {
        "id": "a2cf0494.472828",
        "type": "debug",
        "z": "7abc9db9.2af864",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1210,
        "y": 540,
        "wires": []
    },
    {
        "id": "adda61c2.be5ce",
        "type": "change",
        "z": "7abc9db9.2af864",
        "name": "Standby",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "standby",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 540,
        "wires": [
            [
                "9f18548e.fbdf78"
            ]
        ]
    },
    {
        "id": "475ddc02.227d64",
        "type": "change",
        "z": "7abc9db9.2af864",
        "name": "PrimeVideo",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "start CUSA03099",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 580,
        "wires": [
            [
                "9f18548e.fbdf78"
            ]
        ]
    },
    {
        "id": "5f1a9d90.fe9cf4",
        "type": "inject",
        "z": "7abc9db9.2af864",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 440,
        "y": 540,
        "wires": [
            [
                "adda61c2.be5ce"
            ]
        ]
    },
    {
        "id": "d11a12db.22b05",
        "type": "inject",
        "z": "7abc9db9.2af864",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 440,
        "y": 580,
        "wires": [
            [
                "475ddc02.227d64"
            ]
        ]
    },
    {
        "id": "875a9710.ba62c8",
        "type": "change",
        "z": "7abc9db9.2af864",
        "name": "YouTube",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "start CUSA01065",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 620,
        "wires": [
            [
                "9f18548e.fbdf78"
            ]
        ]
    },
    {
        "id": "b1f513c4.d56b7",
        "type": "inject",
        "z": "7abc9db9.2af864",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 440,
        "y": 620,
        "wires": [
            [
                "875a9710.ba62c8"
            ]
        ]
    },
    {
        "id": "5896c01b.b1b38",
        "type": "inject",
        "z": "7abc9db9.2af864",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 440,
        "y": 660,
        "wires": [
            [
                "7351b6c9.09ead8"
            ]
        ]
    },
    {
        "id": "7351b6c9.09ead8",
        "type": "change",
        "z": "7abc9db9.2af864",
        "name": "Hulu",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "start CUSA00399",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 660,
        "wires": [
            [
                "9f18548e.fbdf78"
            ]
        ]
    },
    {
        "id": "3f2bd488.77a73c",
        "type": "inject",
        "z": "7abc9db9.2af864",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 440,
        "y": 700,
        "wires": [
            [
                "6a4f5389.5008dc"
            ]
        ]
    },
    {
        "id": "6a4f5389.5008dc",
        "type": "change",
        "z": "7abc9db9.2af864",
        "name": "Netflix",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "start CUSA02988",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 700,
        "wires": [
            [
                "9f18548e.fbdf78"
            ]
        ]
    },
    {
        "id": "8de6e01e.8f9fe",
        "type": "switch",
        "z": "7abc9db9.2af864",
        "name": "switch(0~1)",
        "property": "cmdid",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 450,
        "y": 140,
        "wires": [
            [
                "66c87e1.dd7568",
                "1dd1bf3.9000b41"
            ],
            [
                "adda61c2.be5ce"
            ],
            [
                "3131c092.994ef",
                "1dd1bf3.9000b41"
            ]
        ]
    },
    {
        "id": "92032c36.e780b",
        "type": "http in",
        "z": "7abc9db9.2af864",
        "name": "",
        "url": "/ps4waker",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 140,
        "wires": [
            [
                "1b1f446e.f977dc"
            ]
        ]
    },
    {
        "id": "1dd1bf3.9000b41",
        "type": "change",
        "z": "7abc9db9.2af864",
        "name": "CheckStatus",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"cmdid\":12}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 100,
        "wires": [
            [
                "54a7dc0c.d450c4"
            ]
        ]
    },
    {
        "id": "7fce52de.62c80c",
        "type": "switch",
        "z": "7abc9db9.2af864",
        "name": "",
        "property": "payload.result[0].status",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "standby",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 830,
        "y": 180,
        "wires": [
            [
                "228fe7f7.5a18b8"
            ],
            [
                "4ff76e4d.fd088"
            ]
        ]
    },
    {
        "id": "228fe7f7.5a18b8",
        "type": "change",
        "z": "7abc9db9.2af864",
        "name": "PowerOn",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"cmdid\":16}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 100,
        "wires": [
            [
                "cb18fb3e.d48ad8"
            ]
        ]
    },
    {
        "id": "cb18fb3e.d48ad8",
        "type": "http request",
        "z": "7abc9db9.2af864",
        "name": "bravia(POST)",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "http://192.168.0.24:1880/bravia",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1020,
        "y": 140,
        "wires": [
            [
                "da37d4d8.b8acb8",
                "fd2ac01e.a336"
            ]
        ]
    },
    {
        "id": "bac7abc.33a3158",
        "type": "debug",
        "z": "957aa787.9c64e8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 670,
        "y": 60,
        "wires": []
    },
    {
        "id": "d0f2230f.497db",
        "type": "http request",
        "z": "957aa787.9c64e8",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": true,
        "url": "http://192.168.0.24:1880/ps4waker",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 470,
        "y": 60,
        "wires": [
            [
                "bac7abc.33a3158"
            ]
        ]
    },
    {
        "id": "ded6bae.58d1948",
        "type": "change",
        "z": "957aa787.9c64e8",
        "name": "Set cmdid",
        "rules": [
            {
                "t": "set",
                "p": "param",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "param.cmdid",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "param",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 60,
        "wires": [
            [
                "d0f2230f.497db",
                "95372890.bae648"
            ]
        ]
    },
    {
        "id": "95372890.bae648",
        "type": "debug",
        "z": "957aa787.9c64e8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 480,
        "y": 140,
        "wires": []
    },
    {
        "id": "2ca1a4e5.5db30c",
        "type": "http response",
        "z": "7abc9db9.2af864",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1430,
        "y": 600,
        "wires": []
    },
    {
        "id": "9c08e023.781c7",
        "type": "change",
        "z": "7abc9db9.2af864",
        "name": "Set Resopnse(200)",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"status\":\"Success\"}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\"content-type\":\"application/json\"}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "statusCode",
                "pt": "msg",
                "to": "200",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1230,
        "y": 580,
        "wires": [
            [
                "2ca1a4e5.5db30c"
            ]
        ]
    },
    {
        "id": "1da926c3.3fad79",
        "type": "change",
        "z": "7abc9db9.2af864",
        "name": "Set Resopnse(500)",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"status\":\"Success\"}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\"content-type\":\"application/json\"}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "statusCode",
                "pt": "msg",
                "to": "500",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1230,
        "y": 620,
        "wires": [
            [
                "2ca1a4e5.5db30c"
            ]
        ]
    },
    {
        "id": "bc699033.92e77",
        "type": "inject",
        "z": "7abc9db9.2af864",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 440,
        "y": 740,
        "wires": [
            [
                "51f3070.ea26ef8"
            ]
        ]
    },
    {
        "id": "51f3070.ea26ef8",
        "type": "change",
        "z": "7abc9db9.2af864",
        "name": "torne()",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "start CUSA00442",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 740,
        "wires": [
            [
                "9f18548e.fbdf78"
            ]
        ]
    },
    {
        "id": "3131c092.994ef",
        "type": "exec",
        "z": "7abc9db9.2af864",
        "command": "sudo ps4-waker check",
        "addpay": false,
        "append": "check",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 440,
        "y": 260,
        "wires": [
            [
                "e8a74329.c0c5"
            ],
            [],
            []
        ]
    },
    {
        "id": "e4b61595.7dcc08",
        "type": "switch",
        "z": "7abc9db9.2af864",
        "name": "",
        "property": "payload.status",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Standby",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 390,
        "y": 340,
        "wires": [
            [
                "c7787cc5.2e755"
            ],
            [
                "5fd775d.4f2f68c"
            ]
        ],
        "outputLabels": [
            "Standby",
            "etc"
        ]
    },
    {
        "id": "d965cb3f.e40df8",
        "type": "comment",
        "z": "7abc9db9.2af864",
        "name": "PS4",
        "info": "",
        "x": 330,
        "y": 220,
        "wires": []
    },
    {
        "id": "e8a74329.c0c5",
        "type": "json",
        "z": "7abc9db9.2af864",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 390,
        "y": 300,
        "wires": [
            [
                "e4b61595.7dcc08"
            ]
        ]
    },
    {
        "id": "c2ab7eef.229fa",
        "type": "comment",
        "z": "7abc9db9.2af864",
        "name": "TV",
        "info": "",
        "x": 560,
        "y": 60,
        "wires": []
    },
    {
        "id": "4ff76e4d.fd088",
        "type": "http response",
        "z": "7abc9db9.2af864",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1470,
        "y": 180,
        "wires": []
    },
    {
        "id": "c7787cc5.2e755",
        "type": "exec",
        "z": "7abc9db9.2af864",
        "command": "sudo ps4-waker",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "sudo ps4-waker()",
        "x": 440,
        "y": 400,
        "wires": [
            [
                "5b7a0faa.742be"
            ],
            [],
            []
        ]
    },
    {
        "id": "5fd775d.4f2f68c",
        "type": "switch",
        "z": "7abc9db9.2af864",
        "name": "switch(2~)",
        "property": "cmdid",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "7",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 7,
        "x": 750,
        "y": 420,
        "wires": [
            [
                "475ddc02.227d64"
            ],
            [
                "875a9710.ba62c8"
            ],
            [
                "7351b6c9.09ead8"
            ],
            [
                "6a4f5389.5008dc"
            ],
            [
                "51f3070.ea26ef8"
            ],
            [
                "4b43cb6.0736b34"
            ],
            []
        ]
    },
    {
        "id": "1569f5db.35197a",
        "type": "delay",
        "z": "7abc9db9.2af864",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 840,
        "y": 340,
        "wires": [
            [
                "5b7a0faa.742be"
            ]
        ]
    },
    {
        "id": "5b7a0faa.742be",
        "type": "exec",
        "z": "7abc9db9.2af864",
        "command": "sudo ps4-waker check",
        "addpay": false,
        "append": "check",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 740,
        "y": 260,
        "wires": [
            [
                "f74d37bb.f2af98"
            ],
            [],
            []
        ]
    },
    {
        "id": "da75da30.722f58",
        "type": "switch",
        "z": "7abc9db9.2af864",
        "name": "",
        "property": "payload.status",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Ok",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 690,
        "y": 340,
        "wires": [
            [
                "5fd775d.4f2f68c"
            ],
            [
                "1569f5db.35197a"
            ]
        ]
    },
    {
        "id": "f74d37bb.f2af98",
        "type": "json",
        "z": "7abc9db9.2af864",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 690,
        "y": 300,
        "wires": [
            [
                "da75da30.722f58"
            ]
        ]
    },
    {
        "id": "1b1f446e.f977dc",
        "type": "change",
        "z": "7abc9db9.2af864",
        "name": "Set Param",
        "rules": [
            {
                "t": "set",
                "p": "cmdid",
                "pt": "msg",
                "to": "payload.cmdid",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 140,
        "wires": [
            [
                "8de6e01e.8f9fe"
            ]
        ]
    },
    {
        "id": "295ef5cc.621e8a",
        "type": "debug",
        "z": "7abc9db9.2af864",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 850,
        "y": 40,
        "wires": []
    },
    {
        "id": "f76671b4.d4b15",
        "type": "http request",
        "z": "ea374b70.7ba088",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": true,
        "url": "http://192.168.0.24:1880/ps4waker",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1470,
        "y": 1200,
        "wires": [
            [
                "71d12780.890628"
            ]
        ]
    },
    {
        "id": "bc5ac3b5.99d51",
        "type": "change",
        "z": "ea374b70.7ba088",
        "name": "Set Param",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"cmdid\":1}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1290,
        "y": 1200,
        "wires": [
            [
                "f76671b4.d4b15"
            ]
        ]
    },
    {
        "id": "71d12780.890628",
        "type": "http response",
        "z": "ea374b70.7ba088",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1630,
        "y": 1200,
        "wires": []
    },
    {
        "id": "290a7eb9.42c332",
        "type": "inject",
        "z": "ea374b70.7ba088",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 760,
        "wires": [
            [
                "6ad4a9df.9b1e78"
            ]
        ]
    },
    {
        "id": "6ad4a9df.9b1e78",
        "type": "change",
        "z": "ea374b70.7ba088",
        "name": "setPlayContent(HDMI1)",
        "rules": [
            {
                "t": "set",
                "p": "cmdid",
                "pt": "msg",
                "to": "22",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 760,
        "wires": [
            [
                "e409c2e8.28be8"
            ]
        ]
    },
    {
        "id": "832d6517.5d1398",
        "type": "change",
        "z": "ea374b70.7ba088",
        "name": "setPlayContent(HDMI1)",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"method\":\"setPlayContent\",\"id\":101,\"params\":[{\"uri\":\"extInput:hdmi?port=1\"}],\"version\":\"1.0\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1150,
        "y": 760,
        "wires": [
            [
                "7f9adf69.56ff7"
            ]
        ]
    },
    {
        "id": "4815be5c.72dd7",
        "type": "change",
        "z": "ea374b70.7ba088",
        "name": "setPlayContent(HDMI2)",
        "rules": [
            {
                "t": "set",
                "p": "cmdid",
                "pt": "msg",
                "to": "23",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 800,
        "wires": [
            [
                "e409c2e8.28be8"
            ]
        ]
    },
    {
        "id": "ebf62fb2.405b2",
        "type": "inject",
        "z": "ea374b70.7ba088",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 800,
        "wires": [
            [
                "4815be5c.72dd7"
            ]
        ]
    },
    {
        "id": "80735c47.a0c56",
        "type": "change",
        "z": "ea374b70.7ba088",
        "name": "setPlayContent(HDMI2)",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"method\":\"setPlayContent\",\"id\":101,\"params\":[{\"uri\":\"extInput:hdmi?port=2\"}],\"version\":\"1.0\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1150,
        "y": 800,
        "wires": [
            [
                "7f9adf69.56ff7"
            ]
        ]
    },
    {
        "id": "2599297b.3b1326",
        "type": "exec",
        "z": "7abc9db9.2af864",
        "command": "sudo ps4-waker remote",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 370,
        "y": 1060,
        "wires": [
            [
                "1249b3ee.dfedac",
                "f3c94523.e2f238"
            ],
            [
                "1249b3ee.dfedac",
                "f246168.01dc1e8"
            ],
            []
        ]
    },
    {
        "id": "9a1d1d9b.c613c",
        "type": "inject",
        "z": "7abc9db9.2af864",
        "name": " ",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 880,
        "wires": [
            [
                "1ff0fbde.a9fb64"
            ]
        ]
    },
    {
        "id": "1249b3ee.dfedac",
        "type": "debug",
        "z": "7abc9db9.2af864",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 330,
        "y": 1120,
        "wires": []
    },
    {
        "id": "98dbf534.453948",
        "type": "inject",
        "z": "7abc9db9.2af864",
        "name": " ",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 1000,
        "wires": [
            [
                "41c11d09.ca1c64"
            ]
        ]
    },
    {
        "id": "2f2fd0a1.8a908",
        "type": "inject",
        "z": "7abc9db9.2af864",
        "name": " ",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 940,
        "wires": [
            [
                "b0d5687b.c1ad38"
            ]
        ]
    },
    {
        "id": "6e5df5b7.cfb51c",
        "type": "inject",
        "z": "7abc9db9.2af864",
        "name": " ",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 310,
        "y": 940,
        "wires": [
            [
                "7591f93a.abd0b8"
            ]
        ]
    },
    {
        "id": "7d2d2d13.be7c44",
        "type": "inject",
        "z": "7abc9db9.2af864",
        "name": " ",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 470,
        "y": 880,
        "wires": [
            [
                "4b43cb6.0736b34"
            ]
        ]
    },
    {
        "id": "5571e929.d3a988",
        "type": "inject",
        "z": "7abc9db9.2af864",
        "name": " ",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 470,
        "y": 920,
        "wires": [
            [
                "61177cf5.4654f4"
            ]
        ]
    },
    {
        "id": "4f65fa6f.5893b4",
        "type": "http response",
        "z": "7abc9db9.2af864",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 550,
        "y": 1180,
        "wires": []
    },
    {
        "id": "f3c94523.e2f238",
        "type": "change",
        "z": "7abc9db9.2af864",
        "name": "Set Resopnse(200)",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"status\":\"Success\"}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\"content-type\":\"application/json\"}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "statusCode",
                "pt": "msg",
                "to": "200",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 1160,
        "wires": [
            [
                "4f65fa6f.5893b4"
            ]
        ]
    },
    {
        "id": "f246168.01dc1e8",
        "type": "change",
        "z": "7abc9db9.2af864",
        "name": "Set Resopnse(500)",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"status\":\"Success\"}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\"content-type\":\"application/json\"}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "statusCode",
                "pt": "msg",
                "to": "500",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 1200,
        "wires": [
            [
                "4f65fa6f.5893b4"
            ]
        ]
    },
    {
        "id": "567c7f4.0fd3b8",
        "type": "inject",
        "z": "7abc9db9.2af864",
        "name": " ",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 470,
        "y": 960,
        "wires": [
            [
                "443cbc43.fb60d4"
            ]
        ]
    },
    {
        "id": "de7d0a82.05d3d8",
        "type": "inject",
        "z": "7abc9db9.2af864",
        "name": " ",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 470,
        "y": 1000,
        "wires": [
            [
                "ed5ef190.fce85"
            ]
        ]
    },
    {
        "id": "7591f93a.abd0b8",
        "type": "change",
        "z": "7abc9db9.2af864",
        "name": "right",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "right",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 940,
        "wires": [
            [
                "2599297b.3b1326"
            ]
        ]
    },
    {
        "id": "b0d5687b.c1ad38",
        "type": "change",
        "z": "7abc9db9.2af864",
        "name": "left",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "left",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 170,
        "y": 940,
        "wires": [
            [
                "2599297b.3b1326"
            ]
        ]
    },
    {
        "id": "41c11d09.ca1c64",
        "type": "change",
        "z": "7abc9db9.2af864",
        "name": "down",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "down",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 1000,
        "wires": [
            [
                "2599297b.3b1326"
            ]
        ]
    },
    {
        "id": "1ff0fbde.a9fb64",
        "type": "change",
        "z": "7abc9db9.2af864",
        "name": "up",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "up",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 880,
        "wires": [
            [
                "2599297b.3b1326"
            ]
        ]
    },
    {
        "id": "4b43cb6.0736b34",
        "type": "change",
        "z": "7abc9db9.2af864",
        "name": "enter",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "enter",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 880,
        "wires": [
            [
                "2599297b.3b1326"
            ]
        ]
    },
    {
        "id": "61177cf5.4654f4",
        "type": "change",
        "z": "7abc9db9.2af864",
        "name": "back",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "back",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 920,
        "wires": [
            [
                "2599297b.3b1326"
            ]
        ]
    },
    {
        "id": "443cbc43.fb60d4",
        "type": "change",
        "z": "7abc9db9.2af864",
        "name": "option",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "option",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 960,
        "wires": [
            [
                "2599297b.3b1326"
            ]
        ]
    },
    {
        "id": "ed5ef190.fce85",
        "type": "change",
        "z": "7abc9db9.2af864",
        "name": "ps",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ps",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 1000,
        "wires": [
            [
                "2599297b.3b1326"
            ]
        ]
    },
    {
        "id": "ad256fee.3f8c4",
        "type": "comment",
        "z": "7abc9db9.2af864",
        "name": "HDMI1",
        "info": "",
        "x": 1070,
        "y": 20,
        "wires": []
    },
    {
        "id": "fd2ac01e.a336",
        "type": "change",
        "z": "7abc9db9.2af864",
        "name": "HDMI1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"cmdid\":22}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1360,
        "y": 100,
        "wires": [
            [
                "2b70b75b.2ab908"
            ]
        ]
    },
    {
        "id": "2b70b75b.2ab908",
        "type": "http request",
        "z": "7abc9db9.2af864",
        "name": "bravia(POST)",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "http://192.168.0.24:1880/bravia",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1380,
        "y": 140,
        "wires": [
            [
                "4ff76e4d.fd088"
            ]
        ]
    },
    {
        "id": "54a7dc0c.d450c4",
        "type": "http request",
        "z": "7abc9db9.2af864",
        "name": "bravia(POST)",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "http://192.168.0.24:1880/bravia",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 660,
        "y": 140,
        "wires": [
            [
                "7fce52de.62c80c",
                "295ef5cc.621e8a"
            ]
        ]
    },
    {
        "id": "da37d4d8.b8acb8",
        "type": "delay",
        "z": "7abc9db9.2af864",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1200,
        "y": 80,
        "wires": [
            [
                "fd2ac01e.a336"
            ]
        ]
    },
    {
        "id": "e58857a8.3ddb38",
        "type": "alexa-remote-routine",
        "z": "957aa787.9c64e8",
        "name": "",
        "account": "318272e.dcf2b8e",
        "routineNode": {
            "type": "pushNotification",
            "payload": {
                "text": {
                    "type": "str",
                    "value": "Hello from Alexa Remote!"
                },
                "title": {
                    "type": "str",
                    "value": "Node-RED"
                }
            }
        },
        "x": 430,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "17d9d417.05c1ac",
        "type": "inject",
        "z": "957aa787.9c64e8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 560,
        "wires": [
            [
                "e58857a8.3ddb38"
            ]
        ]
    },
    {
        "id": "92b6204.d4716e",
        "type": "alexa-remote-list",
        "z": "957aa787.9c64e8",
        "name": "",
        "account": "318272e.dcf2b8e",
        "config": {
            "option": "getLists"
        },
        "x": 350,
        "y": 740,
        "wires": [
            [
                "8b42d96b.f56688"
            ]
        ]
    },
    {
        "id": "8b19dcd5.50d76",
        "type": "inject",
        "z": "957aa787.9c64e8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 740,
        "wires": [
            [
                "92b6204.d4716e"
            ]
        ]
    },
    {
        "id": "8b42d96b.f56688",
        "type": "debug",
        "z": "957aa787.9c64e8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 740,
        "wires": []
    }
]